@screen-sm-min: 772px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

body {
    background-color: #dee0e2;
}

a, {
    &:hover, &:focus {
        text-decoration: none;
        outline: none;
    }
}

::selection {

    background: #68dff0;
    color: #fff;
}
::-moz-selection {
    background: #68dff0;
    color: #fff;
}

.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.main.mask {
    z-index: 9999;
    zoom: 1;
}

.main-content {
    margin-left: 210px;
    padding-top: 80px;
    height: inherit;

    @media (max-width: 768px) {
        margin: 20px 0 0 0;
        padding: 0;
    }
}

.card-layout {
    height: 100%;
    padding-bottom: 15px;

    .panel {
        margin: 0px;

        .panel-indent {
            margin: 80px 0 0 0;
        }
    }
}

.panel-login {
    display: table;
    height: 100%;
    width: 100%;

    .panel-login-body {
        display: table-cell;
        vertical-align: middle;

        form {
            max-width: 330px;
            margin: 0 auto;
            display: block;
            background-color: #fff;
            border-radius: 5px;
            -webkit-border-radius: 5px;

            .login-wrap {
                padding: 15px;
            }

            h2 {
                height: 60px;
                color: white;
                text-align: center;
                font-size: 1.6em;
                border-radius: 5px 5px 0 0;
                -webkit-border-radius: 5px 5px 0 0;
                background: #31708f;
                padding: 15px 0 0 0;
            }
        }
    }
}

/* header */
.header {
    min-height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    background: #fdfde7;
    border-bottom: 4px solid #c9aa5f;
    z-index: 1002;

    @media (max-width: 768px) {
        position: relative;
    }
}

.nav-row {
    display: table;
    table-layout: fixed;
    width: 100%;

    > div {
        display: table-cell;
        vertical-align: middle;
        box-sizing: content-box;
    }

    .row-center {
        width: 100%;
    }

    > div:first-child {
        width: 60px;
    }
    > div:last-child {
        width: 74px;
    }
}

.flex-row  {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;

    > div {
        -webkit-flex: 1;
        -moz-flex: 1;
        flex: 1;
        min-width: 0;
        padding: 0 5px;
    }

    .flex-item-right {
        text-align: right;
    }
}

.overflow-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.navbar-toggle {
    @media (min-width: 768px) {
        display: block;
    }
}


/*sidebar navigation*/
.nav-panel {
    width: 210px;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .5);

    @media (max-width: 768px) {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
        margin: 0px;
    }

    h5 {
    	color: #f2f2f2;
    	font-weight: 700;
    }

    ul {
        &.menu-panel {
            margin-top: 75px;
            padding: 0;

            @media (max-width: 768px) {
                margin-top: 5px;
            }
            
            li {
                line-height: 20px !important;

                a {
                    color: #aeb2b7;
                    text-decoration: none;
                    display: block;
                    padding: 15px 0 15px 10px;
                    font-size: 1.1em;
                    outline: none;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

                    i {
                        font-size: 1.1em;
                        padding-right: 6px;
                    }

                    &.active,
                    &:hover,
                    &:focus {
                        background: #43acbb;
                        color: #fff;
                        display: block;
                        -webkit-transition: all 0.3s ease;
                        -moz-transition: all 0.3s ease;
                        -o-transition: all 0.3s ease;
                        -ms-transition: all 0.3s ease;
                        transition: all 0.3s ease;

                        i {
                            color: #fff;
                        }
                    }

                    @media (max-width: 768px) {
                        padding: 5px;
                        width: 100%;
                        text-align: left;

                        span {
                            line-height: 35px;
                        }
                    }
                }
            }
        }
    }
}

ul {
    li {
        list-style: none;
    }
}

.nav-collapse.collapse {
    display: inline;
}

/*--menu toggle---*/
.nav-panel-left .menu-toggle {
    cursor: pointer;
    display: inline-block;
}

.menu-toggle .icon-bar {
    background: #424a5d;
}

.table-wrap {
    min-height: 100px;
}

.table-data {
    td {
        word-wrap: break-word;
    }
}

/* pagebar */
.panel-page-info {
    margin: 20px 0;
    text-align: left;

    @media (max-width: @screen-md-min) {
        margin: 10px 0;
        text-align: center;
    }
}

.panel-page-limit {
    margin: 16px 0;

    @media (max-width: 768px) {
        margin: 0;
    }
}

.page-limit-control {
    width: 65px;
    display: block;
    margin: 0 auto;
    float: right;

    @media (max-width: @screen-md-min) {
        width: 95px;
        float: none !important;
    }
}

.panel-filters {
    .nav-tabs {
        margin-bottom: 20px;
    }
}

/* mask */
.waiting-mask {
    position: fixed;
    background-color: rgba(111, 112, 113, 0.35);
    z-index: 9999;
}

/* tables */
table {
    &.table-responsive-condense {
        @media only screen and (max-width: 800px) {
            &,
            & thead,
            & tbody,
            & th, 
            & tr, 
            & td {
                display: block;
            }

            thead {
                tr {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }

            > tbody {
                > tr {
                    border-bottom: 1px solid #ccc;

                    &:last-child {
                        border: none;
                    }

                    > td {
                        border-top: 0px;
                        border-bottom: 1px solid #eee;
                        position: relative;
                        padding-left: 45%;
                        white-space: normal;
                        text-align:left;

                        &:before {
                            /* Now like a table header */
                            position: absolute;
                            /* Top/left values mimic padding */
                            top: 6px;
                            left: 6px;
                            width: 45%;
                            padding-right: 10px;
                            white-space: nowrap;
                            text-align:left;
                            font-weight: bold;

                            /* Label the data */
                            content: attr(data-title);
                        }
                    }
                }
            }
        }
    }
}

.form-group-buttons {
    button {
        min-width: 130px;
        margin: 0 10px;

        @media (max-width: 768px) {
            display: block;
            margin: 20px auto;
        }
    }
}

.sidebar-offcanvas {
    width: inherit;
    min-width: 220px;
    max-width: 220px;
    overflow-y:auto;
    overflow-x:hidden;

    ul {
        li {
            cursor:pointer;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    @media screen and (max-width: @screen-sm-min) {
        position: absolute;
        width: 60%; /* 6 columns */
        display: none;
    }
}

.main-offcanvas {
    width: 100%;

    .panel-overflow {
        max-height: 100vh;
        overflow-y: auto;
    }
}


.row-offcanvas {
    max-height: 100vh;
    display: flex;
    align-items: stretch;

    @media screen and (max-width: @screen-sm-min) {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;

        &.active {
            .sidebar-offcanvas {
                display: block;
                left: 0;
                top: 0;
                z-index: 100;
                max-height: 60vh;
            }
        }
    }
}

@media screen and (max-width: @screen-sm-min) {
    .email-login {
        margin-bottom: 15px;
    }
}

.dropdown-menu {
    &.dropdown-menu-overflow {
        overflow:auto;
    }
}

.btn-group-toggle {
    .btn:focus {
        outline: none;
    }

    .btn-inactive {
        cursor: default;
        box-shadow: none;
        width: 90px;
        overflow:hidden;
        text-overflow: ellipsis;

        &:hover {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        &:focus {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }
    }
}
