
@media (max-width: 768px) {
    .main-content {
        margin: 0px!important;
        position: none !important;
    }

    .nav-panel {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }

    .nav-panel > ul > li > a > span {
        line-height: 35px;
    }

    .nav-panel > ul > li {
        margin: 0 10px 5px 10px;
    }
    .nav-panel > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    .nav-panel > ul > li > a i{
        /*display: none !important;*/
    }

    .nav-panel ul > li > a .arrow, .nav-panel > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    .nav-panel ul > li.active > a .arrow, .nav-panel ul > li > a:hover .arrow, .nav-panel ul > li > a:focus .arrow,
    .nav-panel > ul > li.active > a .arrow.open, .nav-panel > ul > li > a:hover .arrow.open, .nav-panel > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    .nav-panel > ul > li > a, .nav-panel > ul > li > ul.sub > li {
        width: 100%;
    }
    .nav-panel > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    .nav-panel > ul > li > ul.sub > li > a:hover {
        
    }


    /* sidebar */
    .nav-panel {
        margin: 0px !important;
    }

    /* sidebar collabler */
    .nav-panel .btn-navbar.collapsed .arrow {
        display: none;
    }

    .nav-panel .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}
